{% extends "layout.jinja2" %}

{% block pagestyles %}
  {% assets "profile_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %}

{% block content %}
  {% include "navigation.jinja2" %}

  <div class="container">
   <ul>
{% for url, method, endpoint in rules %}
<li>Url: <a href="{{ endpoint }}">{{url}}</a> <br> endpoint : {{ endpoint }} [{{ method }}]</li>
{% endfor %}
</ul>
  </div>

  {% include "blueprintinfo.jinja2" %}

{% endblock %}